<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav>
        <a href="/home">Volver al inicio</a>
        <a href="/donations/our-donations-report">Informe de donaciones realizadas</a>
        <a href="/donations/received-donations-report">Informe de donaciones recibidas</a>
        <a href="/donations/my-filters">Ver mis filtros</a>
        <a href="#" onclick="logout(); return false;">Cerrar sesión</a>
    </nav>
    <script src="/js/user/logout.js"></script>
</body>