<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav>
        <a href="/user">Ver usuarios</a>
        <a href="/user/create">Crear usuario</a>
        <a href="/home">Volver a inicio</a>
        <a href="#" onclick="logout(); return false;">Cerrar sesión</a>
    </nav>
    <script src="/js/user/logout.js"></script>
</body>