<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav>
        <a href="/donationRequests/allRequests">Solicitudes de donaciones</a>
        <a href="/donationRequests/ourRequests">Nuestras solicitudes de donaciones</a>
        <a href="/donationRequests/create">Publicar solicitud de donación</a>
        <a href="/donation-offers">Ver Ofertas Externas</a>
        <a href="/home">Volver al inicio</a>
        <a href="#" onclick="logout(); return false;">Cerrar sesión</a>
    </nav>
    <script src="/js/user/logout.js"></script>
</body>