<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userStyles.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <title>Creando Usuario</title>
</head>

<body>
    <h1>ONG Empuje Comunitario - Gestión de Usuarios</h1>
    <p class="slogan">“Trabajamos juntos por una comunidad más fuerte y solidaria.”</p>
    <%- include('../templates/navbarUser') %>
    <div id="error"></div>
    <section>
        <div class="container">
            <form id="createUserForm" class="form">
                <h2>Creando Usuario</h2>
                <label>Nombre de usuario</label><input id="username" type="text" name="username"><br>
                <label>Nombre</label><input id="name" type="text" name="name"><br>
                <label>Apellido</label><input id="surname" type="text" name="surname"><br>
                <label>Celular (Ejemplo: +54 11 1234-5678)</label><input id="phoneNumber" type="text" name="phoneNumber"><br>
                <label>Email</label><input id="email" type="text" name="email"><br>
                <label>Activo</label>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="active" name="active">
                    <label for="active">¿El usuario estará activo?</label>
                </div>
                <br>
                <label>Seleccione los roles o el rol que tendrá el usuario</label>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="presidente" name="presidente" value="PRESIDENTE">
                    <label for="presidente">Presidente</label>
                </div>

                <div class="checkbox-wrapper">
                    <input type="checkbox" id="coordinador" name="coordinador" value="COORDINADOR">
                    <label for="coordinador">Coordinador</label>
                </div>

                <div class="checkbox-wrapper">
                    <input type="checkbox" id="vocal" name="vocal" value="VOCAL">
                    <label for="vocal">Vocal</label>
                </div>

                <div class="checkbox-wrapper">
                    <input type="checkbox" id="voluntario" name="voluntario" value="VOLUNTARIO">
                    <label for="voluntario">Voluntario</label>
                </div>

                <button type="submit">Confirmar</button>
                <button type="button" id="btnCancel">Cancelar</button>
            </form>
        </div>
    </section>
    <%- include('../templates/footer') %>
    <script type="module" src="/js/user/createUser.js"></script>
</body>

</html>