<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/eventsStyles.css">
    <title>Error 403</title>
</head>
<body>
    <h1>ERROR 403 - PERMISOS INSUFICIENTES.</h1>
    <h2>No tiene los suficientes permisos para acceder a esta ruta.</h2>
    <nav>
        <a href="/home">Volver a la Home Page.</a>
    </nav>
    <%- include('../templates/footer') %>
</body>
</html>