<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userStyles.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <title>Contáctanos</title>
</head>
<body>
    <h1>ONG Empuje Comunitario</h1>
    <p class="slogan">“Trabajamos juntos por una comunidad más fuerte y solidaria.”</p>
    <%- include('templates/navbarHome') %>
    <main>
        <h2>Contáctanos</h2>
        <p>Estamos acá para responder tus dudas, recibir tus sugerencias y coordinar colaboraciones. Podés comunicarte con nosotros mediante los siguientes canales:</p>
        <div class="contact-info">
            <p><strong>Email:</strong> contacto@empujecomunitario.org</p>
            <p><strong>Teléfono:</strong> +54 11 1234-5678</p>
            <p><strong>Dirección:</strong> Calle Inventada 123, Ciudad, País</p>
        </div>
    </main>
    <%- include('templates/footer') %>
</body>
</html>