<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userStyles.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <title>Home</title>
</head>
<body>
    <h1>ONG Empuje Comunitario</h1>
    <p class="slogan">“Trabajamos juntos por una comunidad más fuerte y solidaria.”</p>
    <%- include('templates/navbarHome') %>
    <main>
        <p>
            ¡Bienvenido a Empuje Comunitario! Este sistema web fue creado para acompañar y potenciar el esfuerzo de quienes trabajan día a día por construir una comunidad más solidaria y organizada.
        </p>
        <p>
            Desde acá podés planificar y coordinar las actividades de la ONG, llevar un registro claro y seguro de las donaciones, y administrar a todos los miembros que hacen posible cada proyecto. Nuestra plataforma está pensada para simplificar tareas, ahorrar tiempo y brindarte toda la información que necesitás en un solo lugar.
        </p>
        <p>
            Con herramientas intuitivas y un entorno accesible, queremos que el trabajo en equipo sea más ágil y que puedas enfocarte en lo más importante: impulsar iniciativas que generen un impacto positivo en la vida de las personas. Este es tu punto de partida para que cada acción tenga mayor alcance y para que juntos sigamos fortaleciendo el lazo con la comunidad.
        </p>
    </main>
    <%- include('templates/footer') %>
</body>
</html>