<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userStyles.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <title>Política de privacidad</title>
</head>
<body>
    <h1>ONG Empuje Comunitario</h1>
    <p class="slogan">“Trabajamos juntos por una comunidad más fuerte y solidaria.”</p>
    <%- include('templates/navbarHome') %>
    <main>
        <h2>Política de privacidad</h2>
        <p>
            En Empuje Comunitario valoramos y protegemos la privacidad de todos nuestros usuarios. 
            La información que recopilamos, como datos de contacto, información de eventos y registros de donaciones, 
            se utiliza únicamente para gestionar nuestras actividades y mejorar la experiencia de los participantes.
        </p>
        <p>
            No compartimos información personal con terceros, salvo cuando sea estrictamente necesario para cumplir con 
            obligaciones legales o administrativas. Todos los datos se almacenan de manera segura y se accede a ellos únicamente 
            por personal autorizado.
        </p>
        <p>
            Al solicitar ser dado de alta en nuestra plataforma, los usuarios aceptan que sus datos sean utilizados para fines relacionados con 
            la coordinación de eventos, comunicación de actividades y gestión interna de la ONG. 
            Si en algún momento deseas actualizar o eliminar tu información, podés ponerte en contacto con nosotros mediante nuestros canales oficiales.
        </p>
        <p>
            Esta política puede actualizarse periódicamente, y cualquier cambio será comunicado oportunamente en nuestro sitio web.
            Recomendamos revisar esta página regularmente para estar al tanto de cómo protegemos tu información.
        </p>
    </main>
    <%- include('templates/footer') %>
</body>
</html>