<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit event</title>
    <link rel="stylesheet" href="/css/eventsStyles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
</head>

<body>
    <h1>ONG Empuje Comunitario</h1>
    <nav>
        <a href="/events">Nuestros eventos</a>
        <a href="/events/create">Crear evento</a>
        <a href="/events/createExternal">Crear evento externo</a>
        <a href="/events/external">Eventos externos</a>
        <a href="/home">Volver a inicio</a>
        <a href="#" onclick="logout(); return false;">Cerrar sesión</a>
    </nav>

    <section>

        <div class="container">
            <h1>Editar evento</h1>

            <form id="form" onsubmit="event.preventDefault(); modifyEvent();">

                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>

                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description" required>

                <label for="date">Fecha:</label>
                <input type="datetime-local" id="date" name="date" required>

                <label>Seleccionar participantes:</label>
                <div id="participants" class="participants-container">
                    <!-- los checkboxes se cargan dinámicamente -->
                </div>

                <label for="isCompleted">
                    Completado:
                    <input type="checkbox" id="isCompleted" name="isCompleted">    
                </label>

                <button type="submit">Aceptar</button>
            </form>
            <button onclick="window.location.replace('/events')">Cancelar</button>
        </div>

    </section>
    <%- include('../templates/footer') %>
    <script>
        window.eventId = <%= eventId %>;
    </script>
    <script src="../../js/events/editEvent.js"></script>
    <script src="../js/user/logout.js"></script>
</body>

</html>